/* LOADER */

.lds-dual-ring {
    background-image: url("../assets/loader.gif");
    background-size: 100px 100px;
    height: 100px;
    width: 100px;
}

/* SCROLL */

.actorInfo::-webkit-scrollbar,
.listMovies::-webkit-scrollbar {
    width:5px;
}

.actorInfo::-webkit-scrollbar:horizontal,
.listMovies::-webkit-scrollbar:horizontal{
    height:12px;
}

.actorInfo::-webkit-scrollbar-track,
.listMovies::-webkit-scrollbar-track {
    border:1px #000000 solid;
    border-radius:10px;
}

.actorInfo::-webkit-scrollbar-thumb,
.listMovies::-webkit-scrollbar-thumb{
    background-color:#f26522;
    border:1px solid #000000;
    border-radius:16px;
}

.actorInfo::-webkit-scrollbar-thumb:hover,
.listMovies::-webkit-scrollbar-thumb:hover{
    background-color:#f26522;
    border:1px solid #000000;
}

.actorInfo::-webkit-scrollbar-thumb:active,
.listMovies::-webkit-scrollbar-thumb:active{
    background-color:#f26522;
    border:1px solid #000000;
}

/* HOME */

.home {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: center;
    min-height: 100vh;
}

.title-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px ;
}

.title {
    color: #f26522;
    margin: 0;
}

.logo {
    margin-right: 10px;
    width: 50px;
}

/* FORM */

.formSearch {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.formNameMovie {
    color: black;
    font-size: 1.2rem;
    height: 36px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.formButtonSearch {
    background: #f26522;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    padding: 10px 30px;
    text-transform: uppercase;
    width: 160px;
}

.formButtonSearch:hover {
    opacity: 0.7;
}

.listMovies {
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow: auto;
    width: 100%;
}

.erroList {
    display: flex;
    justify-content: center;
}

.listInfo {
    align-items: center;
    display: flex;
    justify-content: start;
    margin: 20px 0;
}

.infoTitleButton {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-left: 10px;
    width: 70%;
}

.listTitle {
    font-size: 1.2rem;
    margin: 0;
    text-transform: uppercase;
}

.listDescription {
    margin: 0;
    font-size: 0.9rem;
}

.listButton {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 0.8rem;
    padding: 3px 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.listButton:hover {
    background: #f26522;
    color: white;
}

/* FORM */

.infoMovie {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    justify-content: center;
}

.informationMovie {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.informationMovieTitle {
    font-size: 2rem;
    text-transform: uppercase;
}

.informationMovieYear {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    width: 100%;
}

.informationMoviePlot {
    font-size: 1.4rem;
    margin: 0;
    margin-top: 10px;
    text-align: justify;
    width: 100%;
}

.actorInfo {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    overflow: auto;
    margin-top: 50px;
    width: 100%;
}

.info {
    align-items: center;
    display: flex;
    flex: 1 0 18%; 
    flex-direction: column;
}

.informationMovieName {
    font-size: 1rem;
    font-weight: bold;
}

.informationMovieCharacter {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 20px;
}


/* MOBILE */
@media only screen and (max-width: 900px) {
    .formSearch,
    .informationMovie {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 2rem;
    }

    .formSearch,
    .informationMovie {
        width: 85%;
    }

    .informationMovieTitle {
        font-size: 1.4rem;  
    }
    
    .informationMoviePlot {
        font-size: 1rem;
    }
}